@model KomponentePregledVM
@{
    ViewData["Title"] = "Dodaj";
}

<h1>Dodaj</h1>


<form asp-action="SnimiDobavljac">


    <input asp-for="Id" style="display:none" />

    <div class="form-group">
        <label class="control-label">Ime</label>
        <input asp-for="Ime" class="form-control" />
    </div>

    <div class="form-group">
        <label class="control-label">Kolicina na skladistu</label>
        <input asp-for="KolicinaNaSkladistu" class="form-control" />
    </div>

    <div class="form-group">
        <label class="control-label">Preporucena cijena</label>
        <input asp-for="PreporucenaCijena" class="form-control" />
    </div>
    <div class="form-group">
        <label class="control-label">Tip komponente</label>
        <select asp-for="TipKomponenteId" asp-items="Model.tipovikomponente" class="form-control"></select>
        @*
            <input asp-for="ProizvodjacID" class="form-control" />
            <span asp-validation-for="ProizvodjacID" class="text-danger"></span>*@
    </div>
    <div class="form-group">
        <label class="control-label">Dobavljac</label>
        <select asp-for="DobavljacID" asp-items="Model.dobavljaci" class="form-control"></select>
        <input type="submit" value="Dodaj" class="btn btn-primary" />
    </div>
</form>

<a asp-action="Prikaz">Povratak</a>

