@model KomponentePregledVM



@{
    ViewData["Title"] = "View";
}

<h1>View</h1>

<form asp-action="KomponenteEdit">


    <input asp-for="Id" style="display:none" />

    <div class="form-group">
        <label class="control-label">Ime</label>
        <input asp-for="Ime" class="form-control" />

    </div>
    <div class="form-group">
        <label class="control-label">Kolicina na skladistu</label>
        <input asp-for="KolicinaNaSkladistu" class="form-control" />

    </div>


    <div class="form-group">
        <label class="control-label">Preporucena cijena</label>
        <input asp-for="PreporucenaCijena" class="form-control" />

    </div>

    <div class="form-group">
        <label class="control-label">Tip komponente</label>
        <select asp-for="TipKomponenteId" asp-items="Model.tipovikomponente" class="form-control"></select>
        
    </div>

    <div class="form-group">
        <label class="control-label">Dobavljac</label>
        <select asp-for="DobavljacID" asp-items="Model.dobavljaci" class="form-control"></select>
       
    </div>

    <input type="submit" value="Spremi" class="btn btn-primary" />

</form>

<a asp-action="Prikaz">Povratak</a>