
@using Microsoft.AspNetCore.Identity
@using DataAccessLayer
@using Web.Areas.Customer.Helpers
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager




<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Web shop mobitela - administracija</title>



    <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/dashboard/">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <!-- Bootstrap core CSS -->
    @*<link href="../assets/dist/css/bootstrap.min.css" rel="stylesheet">*@
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    @*<script src="../assets/dist/js/bootstrap.bundle.min.js"></script>*@
    <script src="https://cdn.jsdelivr.net/npm/feather-icons@4.28.0/dist/feather.min.js" integrity="sha384-uO3SXW5IuS1ZpFPKugNNWqTZRRglnUJK6UAZ/gxOX80nxEkN9NcGZTftn6RzhGWE" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js" integrity="sha384-zNy6FEbO50N+Cg5wap8IKA4M/ZnLJgzc6w2NqACZaK0u0FXfOWRRJOnQtpZun8ha" crossorigin="anonymous"></script>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/css/vladosite.css" />

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @*@media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }*@
    </style>



</head>
<body>

    <header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
        <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" style="color:white" asp-controller="home" asp-action="index">Web Shop mobitela</a>
        <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class=" bg-dark w-100" ></a>

        @if (SignInManager.IsSignedIn(User))
        {
            <ul class="navbar-nav ml-auto">
                <li class="class=" nav-item"">
                    <form method="post" asp-action="logout" asp-controller="Account">
                        <button type="submit" class="btn default" style="color:white">
                            Logout @User.Identity.Name
                            <span data-feather="log-out" style="color:white"></span>
                        </button>

                    </form>

                </li>
            </ul>
        }
        else
        {
            <ul class="navbar-nav px-3">
                <li class="nav-item text-nowrap">
                    <a class="nav-link" asp-action="Register" asp-controller="Account">Register</a>
                </li>
            </ul>
            <ul class="navbar-nav px-3">
                <li class="nav-item text-nowrap">
                    <a class="nav-link" asp-action="Login" asp-controller="Account">
                        Login <span data-feather="log-in" style="color:white"></span>
                    </a>
                </li>
                
            </ul>
        }

    </header>

    <div class="container-fluid" >
        <div class="row">
            <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
                <div class="position-sticky pt-3">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" asp-controller="home" asp-action="index">
                                <span data-feather="home"></span>
                                Dashboard
                            </a>
                        </li>

                        @if (SignInManager.IsSignedIn(User) && (User.IsInRole("Zaposlenik") || User.IsInRole("Admin")))
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Poruka" asp-action="Index">
                                    <span data-feather="inbox"></span>
                                    Poruke
                                </a>
                            </li>
                        }

                        @if (SignInManager.IsSignedIn(User) && (User.IsInRole("Zaposlenik") || User.IsInRole("Admin")))
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Mobitel" asp-action="Prikaz">
                                    <span data-feather="shopping-cart"></span>
                                    Svi mobiteli
                                </a>
                            </li>
                        }

                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Narudzba" asp-action="Prikaz">
                                <span data-feather="file"></span>
                                Orders
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Servis" asp-action="Index">
                                <span data-feather="tool"></span>
                                Servisi
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Kupac" asp-action="Index">
                                <span data-feather="users"></span>
                                Customers
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Novosti" asp-action="Index">
                                <span data-feather="file-plus"></span>
                                News
                            </a>
                        </li>


                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Home" asp-action="Index2">
                                <span data-feather="map"></span>
                                Upravljanje adresama
                            </a>
                        </li>


                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Dobavljac" asp-action="Prikaz">
                                <span data-feather="truck"></span>
                                Dobavljaci
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Komponente" asp-action="Prikaz">
                                <span data-feather="cpu"></span>
                                Upravljanje komponentama
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Kupac" asp-action="SviKomentari">
                                <span data-feather="message-circle"></span>
                                Upravljanje komentarima
                            </a>
                        </li>


                        @if (SignInManager.IsSignedIn(User) && User.IsInRole("Admin"))
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="administration" asp-action="ListRoles">
                                    <span data-feather="users"></span>
                                    Manage Roles
                                </a>
                            </li>


                            <li class="nav-item">
                                <a class="nav-link" asp-controller="administration" asp-action="ListUsers">
                                    <span data-feather="users"></span>
                                    Manage Users
                                </a>
                            </li>
                        }



                    </ul>

                    <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                        <span>Reports</span>
                        
                    </h6>
                    <ul class="nav flex-column mb-2">
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Report" asp-action="index">
                                <span data-feather="file-text"></span>
                                Pregled kupaca
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Report" asp-action="index2">
                                <span data-feather="file-text"></span>
                                Prodaja
                            </a>
                        </li>
                        
                    </ul>
                </div>
            </nav>

            <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                    <h1 class="h2">Dashboard</h1>
                    <div class="btn-toolbar mb-2 mb-md-0">
                        @*<div class="btn-group me-2">
                            <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
                            <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
                        </div>
                        <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
                            <span data-feather="calendar"></span>
                            This week
                        </button>*@
                    </div>
                </div>

                @*<canvas class="my-4 w-100" id="myChart" width="900" height="380"></canvas>*@
                <div class="container-fluid">
                    @RenderBody()
                </div>
               
            </main>
        </div>
    </div>
    @RenderSection("Scripts", required: false)

    <script src="~/js/dashboard.js" asp-append-version="true"></script>


</body>
</html>




