@{
    ViewData["Title"] = "Reset password confirmation";
}

<h1>@ViewData["Title"].</h1>
<p>
    Vasa lozinka je resetovana. Molimo <a asp-controller="Account" asp-action="Login">kliknite ovdje za login</a>.
</p>
