@model IEnumerable<SviAdmini>


@{
    ViewData["Title"] = "View";
}
<br />


<h1>View</h1>

<table class="table table-striped">
    <tr>
        <td>Id</td>
        <td>Ime</td>
     
    </tr>

    @foreach (var x in Model)
    {
        <tr>
            <td>@x.Id</td>
            <td>@x.ime</td>
           
            
        </tr>
    }


</table>

