@model Web.Areas.Admin.Models.MobitelDodajVM

@{
    ViewData["Title"] = "Dodaj";
}



<h1>Dodaj</h1>

<h4>MobitelDodajVM</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Dodaj">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>


            <div class="form-group">

                <input asp-for="Id" style="display:none" />

            </div>

            <div class="form-group">
                <label asp-for="Naziv" class="control-label"></label>
                <input asp-for="Naziv" class="form-control" />
                <span asp-validation-for="Naziv" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Proizvodjaci</label>
                <select asp-for="ProizvodjacID" asp-items="Model.proizvodjaci" class="form-control"></select>
                @*
                    <input asp-for="ProizvodjacID" class="form-control" />
                    <span asp-validation-for="ProizvodjacID" class="text-danger"></span>*@
            </div>

            <div class="form-group">
                <label asp-for="Opis" class="control-label"></label>
                <input asp-for="Opis" class="form-control" />
                <span asp-validation-for="Opis" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="KratkiOpis" class="control-label"></label>
                <input asp-for="KratkiOpis" class="form-control" />
                <span asp-validation-for="KratkiOpis" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cijena" class="control-label"></label>
                <input asp-for="Cijena" class="form-control" />
                <span asp-validation-for="Cijena" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Popusti</label>

                <select asp-for="PopustId" asp-items="Model.popusti" class="form-control">
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Megapikseli" class="control-label"></label>
                <input asp-for="Megapikseli" class="form-control" />
                <span asp-validation-for="Megapikseli" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ram_Gb" class="control-label"></label>
                <input asp-for="Ram_Gb" class="form-control" />
                <span asp-validation-for="Ram_Gb" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tezina" class="control-label"></label>
                <input asp-for="Tezina" class="form-control" />
                <span asp-validation-for="Tezina" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rezolucija" class="control-label"></label>
                <input asp-for="Rezolucija" class="form-control" />
                <span asp-validation-for="Rezolucija" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DijagonalaEkrana" class="control-label"></label>
                <input asp-for="DijagonalaEkrana" class="form-control" />
                <span asp-validation-for="DijagonalaEkrana" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Procesor" class="control-label"></label>
                <input asp-for="Procesor" class="form-control" />
                <span asp-validation-for="Procesor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Graficka" class="control-label"></label>
                <input asp-for="Graficka" class="form-control" />
                <span asp-validation-for="Graficka" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StanjeNaSkladistu" class="control-label"></label>
                <input asp-for="StanjeNaSkladistu" class="form-control" />
                <span asp-validation-for="StanjeNaSkladistu" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Dodaj" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
@section Scripts { @{await Html.RenderPartialAsync("_ValidationScriptsPartial");} }
