@model NovostEditVM
@{
    ViewData["Title"] = "EditNovost";
}

<h1>EditNovost</h1>

<form asp-action="SaveEditNovost">


    <div asp-validation-summary="ModelOnly" class="text-danger"></div>


    <div class="form-group">

        <input asp-for="Id" style="display:none" />

    </div>

    <div class="form-group">
        <label asp-for="SadrzajTekst" class="control-label"></label>
        <input asp-for="SadrzajTekst" class="form-control" />

    </div>
    <div class="form-group">
        <label asp-for="Naslov" class="control-label"></label>
        <input asp-for="Naslov" class="form-control" />

    </div>

    <div class="form-group">
        <label asp-for="Datum" class="control-label"></label>
        <input asp-for="Datum" class="form-control" />

    </div>
    <div class="form-group">
        <label asp-for="ZaposlenikId" class="control-label"></label>
        <input asp-for="ZaposlenikId" class="form-control" />

    </div>
    <div class="form-group">
        <input type="submit" value="Dodaj" class="btn btn-primary" />
    </div>


</form>
