@model IEnumerable<Web.Areas.Admin.Models.TipKomponenteVM>


@{
    ViewData["Title"] = "Upravljanje komponentama";
}
<br />

<div>
    <a asp-action="Dodaj" class="btn btn-success">Dodaj tip komponente</a>
</div>
<h1>View</h1>

<table class="table table-striped">
    <tr>
        <td>Naziv</td>
        <td>Akcije</td>
    </tr>

    @foreach (var x in Model)
    {
<tr>
    <td>@x.Naziv</td>
   
    <td>
        <a href="/Admin/TipKomponente/Obrisi?Id=@x.Id" class="btn btn-danger">Obrisi</a>
        <a href="/Admin/TipKomponente/Edit?Id=@x.Id" class="btn btn-primary">Edit</a>
    </td>
</tr>
    }


</table>

