@model BanKupcaViewModel

@{
    ViewData["Title"] = "Ban kupca";
}


<div class="row">
    <div class="col-md-8">
        <section>
            <form asp-controller="Kupac" asp-action="BanKupca" method="post" class="form-horizontal" role="form">
                <input asp-for="Id" type="hidden"/>
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group row">
                    <label for="example-datetime-local-input" class="col-2 col-form-label">Datum i vrijeme prijema</label>
                    <div class="col-10">
                        <input asp-for="datumDo" class="form-control" type="datetime-local" value="time">
                        <span asp-validation-for="datumDo" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-2 col-form-label">Razlog</label>
                    <div class="col-10">
                        <input asp-for="razlog" class="form-control">
                        <span asp-validation-for="razlog" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-2 col-form-label">Zauvijek?</label>
                    <div class="col-10">
                        <input asp-for="zauvijek" class="form-control" />
                        <span asp-validation-for="zauvijek" class="text-danger"></span>
                    </div>
                </div>


                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <button type="submit" class="btn btn-danger">Ban kupca</button>
                    </div>
                </div>

            </form>
        </section>
    </div>

</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
