
@using System.Collections.Generic
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Authentication
@using Microsoft.AspNetCore.Identity
@using DataAccessLayer
@model PregledPorukaViewModel
@inject SignInManager<ApplicationUser> SignInManager
@inject RoleManager<IdentityRole> roleManager
@inject UserManager<ApplicationUser> usermanager

@{
    ViewData["Title"] = "Posalji poruku";

  
    
}


<div class="row">
    <div class="col-md-8">
        <section>
            <form asp-controller="Poruka" asp-action="PosaljiPorukuAdmin" method="post" class="form-horizontal" role="form">

                <div asp-validation-summary="All" class="text-danger"></div>
                 
                      
                    
                


                <div class="form-group row">
                    <label class="col-2 col-form-label">Prima: </label>
                    <div class="col-10">
                        <select asp-for="primateljId" asp-items="@Model.primatelji" class="form-control"></select>
                        <span asp-validation-for="primateljId" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-2 col-form-label">Subjekt</label>
                    <div class="col-10">
                        <input asp-for="subjekt" class="form-control" />
                        <span asp-validation-for="subjekt" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-2 col-form-label">Sadrzaj</label>
                    <div class="col-10">
                        <input asp-for="sadrzaj" class="form-control" />
                        <span asp-validation-for="sadrzaj" class="text-danger"></span>
                    </div>
                </div>






                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <button type="submit" class="btn btn-primary">Posalji poruku</button>
                    </div>
                </div>

            </form>
        </section>
    </div>

</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
