@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
    <div class="error-404">
        <div class="error-code m-b-10 m-t-20">404 <i class="fa fa-warning"></i></div>
        <h2 class="font-bold">Oops 404! Izgleda da ste zalutali.</h2>

        <div class="error-desc">
            Oops, nešto loše se dogodilo, radimo na tome da riješimo problem<br />
            Pokušajte osvježiti stranicu ili kliknite dugme ispod da se vratite na početnu stranicu.
            <div>
                <br />
                <!-- <a class=" login-detail-panel-button btn" href="http://vultus.de/"> -->
                <a asp-area="Customer" asp-controller="Customer" asp-action="Index" class="btn btn-primary"><span class="glyphicon glyphicon-home"></span> Idem nazad</a>
            </div>
        </div>
    </div>