@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model List<Web.Areas.Customer.Models.MobitelViewModel>
@{
}

@foreach (var mobitel in Model)
{
    <div style="background-color:palevioletred; width:100%; height:auto; text-align:center; font-size:x-large">
        <p>Id: @mobitel.Id</p>
        <p>Naziv: @mobitel.Naziv</p>
        <p>2020</p>
    </div>
}
<p>Customer area</p>