@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model KontaktViewModel
@{
}
<!-- Contact -->
<section class="container">



    <div class="row">

        <!--Grid column-->
        <div class="col-lg-5 mb-4">

            <!--Form with header-->
            <div class="card border-primary rounded-0">

                <div class="card-header p-0">
                    <div class="bg-primary text-white text-center py-2">
                        <h3><i class="fa fa-envelope"></i> Pisite nam:</h3>
                        <p class="m-0">Nas tim ce se potruditi da odgovori sto prije.</p>
                    </div>
                </div>
                <div class="card-body p-3">
                    <form asp-area="Customer" asp-controller="Customer" asp-action="Kontakt" method="post">
                        @Html.AntiForgeryToken()
                        <!--Body-->
                        <div class="form-group">
                            <label>Vase Ime</label>
                            <div class="input-group">
                                <div class="input-group-addon bg-light"><i class="fa fa-user text-primary"></i></div>
                                <input type="text" class="form-control" id="inlineFormInputGroupUsername" placeholder="Ime" asp-for="Ime">
                                <span asp-validation-for="Ime" class="text-danger"></span>

                            </div>
                        </div>
                        <div class="form-group">
                            <label>Vas email</label>
                            <div class="input-group mb-2 mb-sm-0">
                                <div class="input-group-addon bg-light"><i class="fa fa-envelope text-primary"></i></div>
                                <input type="text" class="form-control" id="inlineFormInputGroupUsername" placeholder="Email" asp-for="Mail">
                                <span asp-validation-for="Mail" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label>Poruka</label>
                            <div class="input-group mb-2 mb-sm-0">
                                <div class="input-group-addon bg-light"><i class="fa fa-pencil text-primary"></i></div>
                                <textarea class="form-control" asp-for="Poruka"></textarea>

                            </div>
                        </div>
                        <div class="form-group">

                            <div class="input-group mb-2 mb-sm-0">
                                
                                
                                <span asp-validation-for="Poruka" class="text-danger"></span>

                            </div>
                        </div>



                        <div class="text-center">
                            <button class="btn btn-primary btn-block rounded-0 py-2">Submit</button>
                        </div>
                        <p>@ViewBag.HvalaVam</p>
                    </form>
                </div>

            </div>
            <!--Form with header-->

        </div>
        <!--Grid column-->
        <!--Grid column-->
        <div class="col-lg-7">

            <!--Google map-->
            <div class="mb-4">

            </div>

            <!--Buttons-->
            <div class="row text-center">
                <div class="col-md-4">
                    <a class="bg-primary px-3 py-2 rounded text-white mb-2 d-inline-block"><span class="oi oi-location" title="lokacija" aria-hidden="true"></span></a>
                    <p>Mostar, Sjeverni Logor 94126,<br> BiH</p>

                </div>

                <div class="col-md-4">
                    <a class="bg-primary px-3 py-2 rounded text-white mb-2 d-inline-block"><span class="oi oi-phone" title="mobitel" aria-hidden="true"></span></a>
                    <p>+ 01 234 567 89, <br> Pon - Pet, 8:00-22:00</p>
                </div>

                <div class="col-md-4">
                    <a class="bg-primary px-3 py-2 rounded text-white mb-2 d-inline-block"><span class="oi oi-inbox" title="basket" aria-hidden="true"></span></a>
                    <p>info@webshop.com <br> sale@webshop.com</p>
                </div>
            </div>

        </div>
        <!--Grid column-->

    </div>

</section>
<!-- Contact -->

@section Scripts{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }

    </script>
}