@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

    <table class="table">
        <thead>
            <tr>
                <th scope="col">Funkcionalnost</th>
                <th scope="col">Bodovi</th>
                
            </tr>
        </thead>
        <tbody>
            <tr>

                <td>Helper metode za ponovno iskoristavanje koda</td>
                <td>2</td>

            </tr>
            <tr>

                <td>Slanje mail poruka ( aktivacija registrovanog naloga putem maila, exception logging)</td>
                <td>2</td>

            </tr>
            <tr>

                <td>Antiforgery na html formama</td>
                <td>2</td>

            </tr>
            <tr>

                <td>2-way autentifikacija - preko sms i emaila </td>
                <td>8</td>

            </tr>
            <tr>

                <td>SMS gateway nexmo</td>
                <td>4</td>

            </tr>
            <tr>

                <td>Exception handling(slanje mailova i log u db)</td>
                <td>4</td>

            </tr>
            <tr>

                <td>Microsoft identity autentifikacija i autorizacija</td>
                <td>5</td>

            </tr>
            <tr>

                <td>Paging na back-endu</td>
                <td>2</td>

            </tr>
            <tr>

                <td>Repository pattern with DI - onion arhitektura.</td>
                <td>2</td>

            </tr>
            <tr>

                <td>><b>Ukupno</b></td>
                <td>31</td>

            </tr>


        </tbody>
    </table>