<h2>Upravljanje adresama</h2>

<a asp-controller="Grad" asp-action="Index" class="btn btn-primary">Upravljanje gradovima</a>
<a asp-controller="Zupanija" asp-action="Prikaz" class="btn btn-primary">Upravljanje zupanijama</a>
