@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<p>Admin area vlado</p>
<a href="/Admin/Mobitel/Prikaz">Mobiteli</a>
<a href="/Admin/Novosti/Index">Novosti</a>
<a href="/Admin/Novosti/Dodaj">Dodaj novost</a>
<a href="/Admin/Grad/Index">Pregled gradova</a>
<a href="/Admin/Zupanija/Prikaz">Pregled zupanija</a>
<a href="/Admin/Dobavljac/Prikaz">Pregled dobavljaca</a>